//fonts
$font-Arial: Arial, sans-serif;
$font-Roboto: 'Roboto', sans-serif;
$font-Poppins: 'Poppins', sans-serif;
$font-FiraCode: 'Fira Sans Condensed', sans-serif;
$font-Montserrat: 'Montserrat', sans-serif;
$font-Ubuntu: 'Ubuntu', sans-serif;
$font-Radio: 'Radio Canada', sans-serif;

//font-weight
$fontWeightRegular: 400;
$fontWeightSemiBold: 500;
$fontWeightBold: 700;

//lineHeight
$lineHeightSM: '100%';
$lineHeightMD: '110%';
$lineHeightLG: '120%';
$lineHeightUL: '150%';

//Font-size
$fontSizeXSmall: 12px;
$fontSizeSmall: 14px;
$fontSizeMedium: 16px;
$fontSizeLarge: 18px;
$fontSizeXLarge: 20px;
$fontSizeXXLarge: 24px;
$fontSizeHuge:30px;
$fontSizeXHuge: 34px;
$fontSizeXXHuge: 38px;
$fontSizeXXXHuge:42px;

//padding
$p1: 10px;
$p2: 20px;
$p3: 30px;
$p4: 40px;
$p5: 50px;
$pt1: 10px;
$pt2: 20px;
$pt3: 30px;
$pt4: 40px;
$pt5: 50px;
$pb1: 10px;
$pb2: 20px;
$pb3: 30px;
$pb4: 40px;
$pb5: 50px;
$pr1: 10px;
$pr2: 20px;
$pr3: 30px;
$pr4: 40px;
$pr5: 50px;
$pl1: 10px;
$pl2: 20px;
$pl3: 30px;
$pl4: 40px;
$pl5: 50px;

//margin
$m1: 10px;
$m2: 20px;
$m3: 30px;
$m4: 40px;
$m5: 50px;
$mt1: 10px;
$mt2: 20px;
$mt3: 30px;
$mt4: 40px;
$mt5: 50px;
$mb1: 10px;
$mb2: 20px;
$mb3: 30px;
$mb4: 40px;
$mb5: 50px;
$mr1: 10px;
$mr2: 20px;
$mr3: 30px;
$mr4: 40px;
$mr5: 50px;
$ml1: 10px;
$ml2: 20px;
$ml3: 30px;
$ml4: 40px;
$ml5: 50px;

//border-radius
$borderRadiusNone: 0;
$borderRadiusSM: 6px;
$borderRadiusMD: 12px;
$borderRadiusLG: 18px;
$borderRadiusXL: 24px;
$borderRadiusCircle: 50%;

//border
$borderNone: none;
$borderSolidSM: 1px solid;
$borderSolidMD: 4px solid;
$borderDashedSM: 1px dashed;
$borderDashedMD: 4px dashed;

//colors
$colorBlueN1: #8ec9ff;
$colorBlueN2: #6cb2ec;
$colorBlueN3: #4b9ada;
$colorBlueN4: #2983c7;
$colorBlueN5: #076bb4;
$colorGreenN1: #19d69e;
$colorGreenN2: #13c38d;
$colorGreenN3: #0db17c;
$colorGreenN4: #069e6a;
$colorGreenN5: #008b59;
$colorBlackN1: #253725;
$colorBlackN2: #1c291c;
$colorBlackN3: #131c13;
$colorBlackN4: #090e09;
$colorBlackN5: #000000;
$colorPurpleN1: #950aa4;
$colorPurpleN2: #820893;
$colorPurpleN3: #700581;
$colorPurpleN4: #5d0370;
$colorPurpleN5: #4a005e;
$colorRedN1: #ee0624;
$colorRedN2: #d8051b;
$colorRedN3: #c20312;
$colorRedN4: #ac0209;
$colorRedN5: #960000;
$colorYellowN1: #ffff97;
$colorYellowN2: #f9f97a;
$colorYellowN3: #f3f45e;
$colorYellowN4: #ecee41;
$colorYellowN5: #e6e824;
$colorGreyN1: #c7c3cf;
$colorGreyN2: #b5b1bd;
$colorGreyN3: #a39fab;
$colorGreyN4: #918d98;
$colorGreyN5: #7f7b86;
$colorOrangeN1: #ffcb70;
$colorOrangeN2: #f6b356;
$colorOrangeN3: #ed9b3c;
$colorOrangeN4: #e38221;
$colorOrangeN5: #da6a07;


